extends layout

block content
  header
    h1= title
  hr
  main
    p Welcome to #{title}
    div(class="container" id="graph-container" style="text-align: center;")
      h4= "Total recoveries around Perth and Melbourne offices"
      hr(style="width: 60%")
      div(class="row")
        div(class="col-sm")
          canvas(id="perth-chart" width="400" height="400")
        div(class="col-sm")
          canvas(id="melb-chart" width="400" height="400")
  script.
    chart("perth-chart");
    chart("melb-chart")